<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated NetworkArchitecture -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="NetworkArchitecture.presentation.NetworkArchitectureModelWizardID"
            name="%_UI_NetworkArchitectureModelWizard_label"
            class="NetworkArchitecture.presentation.NetworkArchitectureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NetworkArchitectureModelFile.gif">
         <description>%_UI_NetworkArchitectureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated NetworkArchitecture -->
      <editor
            id="NetworkArchitecture.presentation.NetworkArchitectureEditorID"
            name="%_UI_NetworkArchitectureEditor_label"
            icon="icons/full/obj16/NetworkArchitectureModelFile.gif"
            extensions="networkarchitecture"
            class="NetworkArchitecture.presentation.NetworkArchitectureEditor"
            contributorClass="NetworkArchitecture.presentation.NetworkArchitectureActionBarContributor">
      </editor>
   </extension>

</plugin>
